@media screen and (min-width: 768px) {

    header img {
        width: 10%;
        height: 10%;
        margin-left: 10rem;
    }
    header h1 {
        text-align: center;
    }
	#menu {
		display: none; /* hide hamburger button */
	}
    .navigation {
        flex-direction: row;
        padding: 0.5rem;
    }
    .navigation a {
        display: block;
        flex: 1 1 auto;  /* difference between auto and 100% flex-basis - turn on link borders to view */
    }
    
    .me-block {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }
    .me-block img {
        margin-left: 9rem;
    }
}